# See http://help.github.com/ignore-files/ for more about ignoring files.
#REPO: https://github.com/MarceloBravo/tienda2022_angular_node.git

# Compiled output
/frontendAngular/dist
/frontendAngular/tmp
/frontendAngular/out-tsc
/frontendAngular/bazel-out

# Node
/frontendAngular/node_modules
/frontendAngular/npm-debug.log
/frontendAngular/yarn-error.log

backend/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/frontendAngular/.angular/cache
/frontendAngular/.sass-cache/
/frontendAngular/connect.lock
/frontendAngular/coverage
/frontendAngular/libpeerconnection.log
/frontendAngular/testem.log
/frontendAngular/typings

# System files
.DS_Store
Thumbs.db



# dependencies
/frontend-react/node_modules
/frontend-react/.pnp
/frontend-react/.pnp.js

# testing
/frontend-react/coverage

# production
/frontend-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/frontend-react/npm-debug.log*
/frontend-react/yarn-debug.log*
/frontend-react/yarn-error.log*

