.alert{
    position: absolute !important;
    right: 10px !important;
    padding-right: 0px !important;
}

strong{
    margin: 0px 5px;
}
.close{
    border-style: none;
    background: #ffffff00;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 3px;
    margin: 0px 7px;
}